.idea
.DS_Store
www
node_modules
.grunt
!public/about/*
!public/_categories/*
public/assets/css/application.css
npm-debug.log
public/*/index.jade
public/rss.xml
public/**/_data.json
!public/_shared/*
