h3 About
p This site is a open-source initiative whose the goal is recommending books for items listed on ThoughtWorks Technology Radar. This site is a fork of devfreebooks.github.io.

h3 Authors
p Hi! My name is Peng Xiao, I am a software architect living in Melbourne. I am a (proud) ex-ThoughtWorker.
p Hi! My name is Yanhui Li, I am a software developer living in Melbourne. I am also a (proud) ex-ThoughtWorker.

p If wanna talk with us, you can <a href="mailto:eagle.xiao@gmail.com">send me an e-mail</a> or follow us in some of this links: <a href="http://twitter.com/crp_underground" target="_blank" rel="nofollow">Twitter</a>, <a href="http://br.linkedin.com/in/caioribeiropereira" target="_blank" rel="nofollow">LinkedIn</a>, <a href="https://plus.google.com/+CaioRibeiroPereira" target="_blank" rel="nofollow">Google+</a>, <a href="https://github.com/caio-ribeiro-pereira" target="_blank" rel="nofollow">Github</a>.
