section.row-fluid.clearfix.hidden-xs.hidden-sm
    div.center
        h4.btn-group.btn-group-justified
            a.btn.btn-info(href="#" data-filter="all") All books
            a.btn.btn-default(href="#" data-filter="techniques") Techniques
            a.btn.btn-default(href="#" data-filter="tools") Tools
            a.btn.btn-default(href="#" data-filter="platform") Platform
            a.btn.btn-default(href="#" data-filter="language-framework") Languages & Frameworks
